@font-face {
  font-family: Norse;
  src: url(/public/Norse-Bold.otf);
}

.app{
  display: flex;
  font-family:Arial, Helvetica, sans-serif;
}

.sidebar{
  height: 100vh;
  width: 380px;
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

}

.logo{
  display: flex;
  color: white;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,50%);
  background-size: contain;
  margin-top: 100px;
}

.logo img{
  height: 110px;
}

.logo p{
  font-family: Norse;
  font-size: 5em;
}

.credit{
  margin-top: auto;
  color: white;
  text-align: center;
}

.credit p{
  font-size: .6rem;
  margin-bottom: .3rem;
}

.credit a{
  color:inherit;
  text-decoration: underline;
}

.content{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  justify-content: center;
  background-color:#f9fafb ;
}

.middle{

}

.container{
  /* height: 300px; */

}

.form{
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  height: 200px;
  gap:50px;
}

.flex-col{
  max-width: 350px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#form-ele{
  color: #1e2936;
  display: flex;
  flex-direction: column;
  flex: 1;
}

label{
  font-size: .9rem;
  padding-bottom: .2rem;
}

input{
  line-height: 2rem;
  border:1px solid #e5e7eb;
  border-radius: .25rem;
  transition: .5s;
  outline: none;
}

input:focus{
  border: 1px solid #004dd4;
}

button{
  border: none;
  background-color: #596d48;
  color:#fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: .5rem;
}







