@font-face {
  font-family: Norse-Bold;
  src: url(../public/Norse-Bold.otf);
}

.page{
  display: flex;
}

.sidebar{
  height: 700px;
  width: 466px;
  background-image: url(./background.jpg);
  background-size:contain;
  display: flex;
  flex-direction: column;
}

.left-side{
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top{
  margin-left: 2em;
  font-weight: bold;
}

.logo{
  display: flex;
  width: 466px;
  height: 7em;   
  align-items: center;
  justify-content: center;
  background: rgba(0, 0,0, 50%);
  margin-top: 10em;
}

.logo img{
  width: auto;
  height: 80%;
  display: block;
}

.logo p{
  color: white;
  font-family: 'Norse-Bold';
  font-size: 5em;
}


.middle{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  height: 230px;
}

.header{
  margin-left: 2em;
  margin-bottom: 0;
}

input{
  font-size: 1.2em;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  color: #333333;
}

input:focus{
  outline: 1px solid blue;
}

.info{
  display: flex;
  gap:3em;
  margin-left: 2em;
  flex:1;
}

.col1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:.7em;
}
label{
  display: flex;
  font-size: 12px;

}
.col2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:.7em;
}

.already{
  margin-left: 2em;
  margin-top: 1em;
}



/* Buttons */
#create{
  margin-top: 2.5em;
  margin-left: 2.5em;
  background: #596d48;
  color: white;
  border: none;
  height: 3em;
  width: 13em;
  border-radius: .5em;
  font-weight: bold;
}

#login{
  border: none;
  background: none;
  color: #596d48;
  font-weight: bold;
}